.content {
  /* margin: 1em 0em 0.5em 0.5em; */
 
  margin-right:10rem;
   margin-left:1rem;
  font-size:1.4rem;
  padding-top:14px; 
  line-height:100%;
/*  font-size:1.5rem;
font-weight: bold;
line-height: 1.5rem; 
test */
}
.content1 {
  /* margin: 1em 0em 0.5em 0.5em; */
 
  
   margin-left:1rem;
  font-size:1.5rem;
  margin-bottom:12px;

}

.sapMBar.sapMPageHeader:before {

border-top: 0;
}
.labelFont{
	/* margin-right:30px;
	 font-size:1.25rem;  */
}

.content1 {
  /* margin: 1em 0 0.5em 0.5em; */
 
}